/* Styles created for Qr code design*/

body{
    background-color: hsl(212, 45%, 89%);
    min-width: 375px;
    max-width: 1440px;
    margin: auto;;
    padding: 0px;
}
    .templateQr{
        background-color: hsl(0, 0%, 100%);
        padding: 15px;
        border-radius: 20px;
        width: 280px;
        max-width: 375px;
        margin: auto;
        margin-top: 90px;
    }

    img{
        border-radius: 10px;
        max-width: 100%;
    }
    h1{
        font-family: 'Outfit', sans-serif;
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    p{
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: hsl(220, 15%, 55%);
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .attribution{
        font-size: 11px;
        text-align: center; 
        position:relative;
        bottom: -80px;
        margin: auto;
       }
   .attribution a {
        color: hsl(228, 45%, 44%); 
       }
